
# NODE
/node_modules/


## Directory-based project format:
# .idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/misc.xml
.idea/copyright
.idea/modules.xml

#сгенерированный файл
public/bundle.js
package-lock.json
