
/* Анимация появления новой строки в расписании */
.anim-appear {
  opacity: 0.01;
}
 
.anim-appear.anim-appear-active{
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.anim-enter {
  opacity: 0.01;
}
 
.anim-enter.anim-enter-active {
  opacity: 2;
  transition: opacity 5s ease-in;
}

.anim-leave {
  opacity: 1;
}

.anim-leave.anim-leave-active {
  opacity: 0.01;
  /* transition: opacity 300ms ease-in; */
  /* transition: opacity 300ms ease-in-out; */
  transition: opacity 5s ease-out;
}

/* ------------------------------------------------------------------------- */

/* Рамка редактора расписания */
.scheduler_root {
  display: inline-block;
  border: 1px solid #ddd;
}


/* * РАЗДЕЛЕННЫЙ ЭКРАН 
{margin: 0; padding: 0;} */
#container {height: 100%; width:100%; overflow:hidden}
#left, #middle, #right {
  user-select: none;
  /* display: inline-block; *display: inline; zoom: 1;   */
  vertical-align: top;

  /* ЛОМАЕТ ПОВЕДЕНИЕ */
  float:left;
  position:absolute;
  height:100%;
}
/* #left {width: 25%; background: blue;} */
#middle {width: 75%; 
  /* background: green;  */
  overflow: scroll;}
#right {width: 25%; 
  /* background: yellow;  */
  overflow: auto;}

/* #div1
{
  width:45%;
  background-color:#220000;
  float:left;
  height:100%;
  position:absolute;
}
#div2
{
  width:15%;
  background-color:#000022;
  float:left;
  height:100%;
  position:absolute;
} */
#splitter
{
  /* display: inline-block; */

  width:4px;
  /* background-color:#aaa; */
  float:left;
  height:100%;
  position:absolute;
  /* cursor: w-resize; */
  /* cursor: e-resize; */
  cursor: col-resize;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAXAQMAAAD0oWdxAAAABlBMVEUAAACkvtSA7tmIAAAAAXRSTlMAQObYZgAAAA5JREFUeF5jWMDAQDwGAKyuB4FpGQdzAAAAAElFTkSuQmCC) center center no-repeat transparent;

}





#pn_root {display: inline-block; border: 1px solid #ddd;}
#gt_root {}
#bbs_root {display: inline-block; vertical-align: top; border: 1px solid #333;}
#acc_root {}



.wrapper {
  /* border: 1px solid #ddd; */
  display: grid;
  column-count: 2;
  grid-template-columns: 100px 1fr;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(2, 1fr); */
  
  /* grid-gap: 5px; */
  /* column-gap: 20px; */
  /* column-rule: 5px outset #ff00ff; */

  /* grid-auto-rows: minmax(60px, auto); */
}


.level_wrapper_pn, .level_wrapper_gt, .level_wrapper_bb {
  display: grid;
  column-count: 2;
  grid-template-columns: 30px 1fr;
  grid-auto-rows: minmax(30px, auto);
}

.level_wrapper_pn {
  /* background: #ccc; */
  /* background: #CBD6DD; */
  /* background: rgba(174, 208, 230, 0.41); */
  color: #3498db;
  font-family: 'Segoe UI', Roboto;
  font-size: 20px;
  font-weight: bolder;

  margin-bottom: 10px;
  /* border-radius: 5px; */
  border-left: 2px solid  #3498db;
}

.level_wrapper_gt {
  /* background: #ECDACF; */
  /* background:rgba(224, 165, 129, 0.17); */
  color: #ff8839; 
  font-size: 20px;

  margin-bottom: 10px;
  /* border-radius: 5px; */
  border-left: 2px solid  #ff8839;
}

.level_wrapper_bb {
  background: #eee;
  grid-template-columns: 60px 1fr;
  color: #222; 
  font-size: 20px;

  margin-bottom: 5px;
  border-radius: 5px;

}


.one {
  text-align:center;
  vertical-align:middle;

  /* border: 1px solid #f00; */
  /* grid-column: 1 / 2;*/
  grid-column: 1; 
  grid-row: 1;
  word-wrap: normal; 
  /* width: 60px; */
  
  /* resize: horizontal;
  overflow: auto; */
  padding-left: 15px;
}

.one_pn {
  /* border: 1px solid #f00; */
  grid-column: 1;
  grid-row: 1;
  word-wrap: break-word;
  width: 30px; 
}

.two { 
  /* border: 1px solid #0f0; */
  /* grid-column: 2 / 4; */
  grid-column: 2;
  grid-row: 2;
  background: #fff;
}

.two_1 { 
  /* border: 1px solid #0f0; */
  grid-column: 2;
  grid-row: 1;
}

.account_column {
  /* overflow-x: auto; */
  /* *display: inline; zoom: 1; vertical-align: top;
  display: inline-block; border: 1px solid #ddd; */
  /* padding: 15px; */
  margin: 5px;
  font-weight: normal;
  font-size: 14px;
}

.account_name {
  margin: 5px;
}

.account_column {
  background: #fff; 
  border: 1px solid #ddd;
}

.day_column {
  text-align:center;
  font-size: 10px;
  vertical-align:middle;
  min-width: 24px;
  height: 24px;
  /* display: inline-block;  *display: inline; zoom: 1; vertical-align: top; */
  display: table-cell; 
  border-right: 1px solid #ddd; 
  border-top: 1px solid #ddd; 
  /* shape-rendering: crispEdges; */
}


/* .three {
  grid-row: 2 / 5;
  grid-column: 1;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
} */



/* ПОПЫТКА 2 */

.root_grid {
  display: grid;
  column-count: 2;
  grid-template-columns: 100px 1fr;
}

.first_column {
  /* border: 1px solid #f00; */
  background: #ddd; 
  grid-column: 1; 
  grid-row: 1;
  word-wrap: break-word;
}

.second_column { 
  display: grid;
  column-count: 2;
  grid-template-columns: 60px 1fr;

  /* border: 1px solid #00f; */
  grid-column: 2;
  grid-row: 1;

  /* grid-gap: 5px; */
  /* grid-auto-rows: minmax(60px, auto); */
  
  /* column-gap: 20px; */
  /* column-rule: 5px outset #ff00ff; */

}

.second_column_end { 
  /* border: 1px solid #0f0; */
  grid-column: 2;
  grid-row: 1;

}


.schedulerPanel, .accountsPanel, .accountsDetailsPanel {
  padding: 5px;
  border: 1px solid rgba(54, 64, 74, 0.05);  
  border-radius: 5px;
  background-clip: padding-box;
  margin: 5px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.accountsPanel, .accountsDetailsPanel {
  height: 50%;
}




/* ------------------------------------- TODO: ТУТ РАЗОРБРАТЬСЯ ------------------------------------------------ */

th.sorting_desc:after {
  position: absolute;
  top: 7px;
  right: 8px;
  display: block;
  font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
  content: "\f0dc";
  padding-top: 0.12em;
}


.barsoverlay {
  display: flex;
}

.barsitem {
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  background: #f44;
}









.graf {
    cursor: pointer;
    shape-rendering: crispEdges;
  }

  .graf rect{
    /* stroke-width: 1;
    stroke: #75739F;  */
    fill: #eee; 
  }

  .graf text {
    font: 10px sans-serif;
    text-anchor: middle;
  }

  .state--selected rect {
    fill: #9f4a6c;
  }

  .state--selected text {
    fill: white;
  }

  .state--disabled rect {
    fill: #fff;
  }

  .state--disabled text {
    fill: #ddd;
  }


  .axis path, .axis line {
     stroke: #fff; 
    shape-rendering: crispEdges;
  }

  .axis text {
    font-family: Optima, Futura, sans-serif; 
    font-weight: bold;
    font-size: 11px;
    fill: #000;
    /* stroke: green; */
  } 