@import "colors";

.gantt_info {

  .grid-cell {
    fill: #fff;
    stroke: $border-color;
  }

  //.grid-background {
  //  //fill: none;
  //  fill: #ffffff;
  //}
  //.grid-header {
  //  fill: #ffffff;
  //  stroke: $border-color;
  //  stroke-width: 1.4;
  //}
  //
  //
  //.grid-row {
  //  fill: #ffffff;
  //}
  //
  //
  ////Строка GT
  //.row-line-group-gt {
  //  stroke: $border-color;
  //  //stroke: #00FF00;
  //  //stroke: $light-border-color;;
  //}
  //
  ////Строка BB
  //.row-line-group-bb {
  //  //stroke: $border-color;
  //  stroke: $light-border-color;
  //}
  //
  ////Строка аккаунта
  //.row-line {
  //  //stroke: #FF0000;
  //  //stroke: $light-border-color;
  //}
  //
  //
  //.gt-text {
  //  font-size: 14px;
  //  fill: $text-light;
  //  font-weight: bold;
  //}
  //
  //.bb-text {
  //  font-size: 12px;
  //  fill: $text-light;
  //}
  //
  //.account-text {
  //  font-size: 12px;
  //  fill: $text-account;
  //}

}

.barEditorRoot {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
}


.barEditorEmpty {
  background: #fff;
  width: 30px;
  display: table-cell;
  height: 28px;
}

.barEditorDay {
  width: 28px;
}

.barEditorDay, .barEditorHourHeader, .barEditorTotal, .barEditorTotalHeader {
  color: #444;
  font-weight: bold;

  vertical-align: middle;
  text-align: center;

  background: #f0f0f0;
  border: 1px solid #fff;

  display: table-cell;
  height: 28px;
}

.barEditorHourHeader {
  width: 28px;
}

.barEditorTotal, .barEditorTotalHeader {
  width: 54px;
}

.barEditorHourCell {
  font-size: 11px;
  font-weight: lighter;
  vertical-align: middle;
  text-align: center;

  color: $font_color1;
  background: #fafafa;
  cursor: pointer;
  border: 1px solid #fff;
  width: 28px;
  height: 28px;

  display: table-cell;
}


// .barEditorHourCell:hover {
//   background: rgba(255, 68, 68, 0.22);
// }


.barEditorHourCell.selected {
  //background: rgba(255, 202, 68, 0.22);
  color: #fff;
  font-weight: bold;
}

@keyframes colorchange {
	0% {
		-webkit-text-stroke: 1px red;
	}
	50% {
		-webkit-text-stroke: 1px white;
	}
	100% {
		-webkit-text-stroke: 1px red;
	}
}

.barEditorHourCell.errors {
  //color: #f00 !important;
  -webkit-text-fill-color: white;
  // -webkit-text-stroke: 1px red;
  animation: colorchange 1s infinite;
  // text-shadow:
  // 3px 3px 0 #000,
  // -2px -2px 0 #fff,  
  //  2px -2px 0 #fff,
  //  -2px 2px 0 #fff,
  //   2px 2px 0 #fff;
  // background: #fff !important;
  font-weight: bold !important;
}

.barEditorHourCell.template {
  border: 1px dashed #aaa !important;

}

.barEditorHourCell.highlight {
  background: rgba(255, 202, 68, 0.22);
  color: $blue_color;
  font-weight: bold;
}

.barEditorHourCell.disabled {
  background: #aaa;
  color: $green_color;
}
